body {
    background: #111;
    color: #847;
    padding: 2em;
    font-family:  Courier, monospace;
}
h1 {
    color: #847;
    font-size: 400%;
    margin-bottom: 0;
}
h2 {
    color:#847;	
    margin-top: 0.5em;
    margin-bottom: 0;
}
p, ul, li, th, td {
    color: #847;
}
a {
    color: #958;
    transition: all 0.25s linear;
}
a:hover {
    color: #a6b;
    text-shadow: 0 0 5px #849;
    text-decoration: none;
}
td {
    padding: 0 1em;
}


.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 green;
    top: 0;
    color: #847;
    background: #111;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}
.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: #847;
    background: #111;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 4s infinite linear alternate-reverse;
}

.glitch {
    position: relative;
    margin: 0 auto;
}

@keyframes noise-zoom {
0% {
    transform: scale(0.99);
}
10% {
    transform: scale(0.99);
}
20% {
    transform: scale(0.98) skew(2deg, 0);
}
30% {
    transform: scale(0.98);
}
40% {
    transform: scale(0.98);
}
50% {
    transform: scale(0.98);
}
60% {
    transform: scale(0.99);
}
70% {
    transform: scale(0.97);
}
80% {
    transform: scale(0.97);
    transform: scale(0.99) skew(-random(10)deg, 0);
}
90% {
    transform: scale(0.97);
}
}
@keyframes noise-anim {
0% {
    clip: rect(95px, 9999px, 2px, 0);
    text-shadow: 3px -4px 17px rgba(255, 255, 255, 0.2);
}
6.66667% {
    clip: rect(17px, 9999px, 41px, 0);
    text-shadow: 9px -1px 6px rgba(255, 255, 255, 0.2);
}
13.33333% {
    clip: rect(22px, 9999px, 62px, 0);
    text-shadow: -6px 7px 2px rgba(255, 255, 255, 0.2);
}
20% {
    clip: rect(3px, 9999px, 67px, 0);
    text-shadow: 6px 0px 21px rgba(255, 255, 255, 0.2);
}
26.66667% {
    clip: rect(57px, 9999px, 19px, 0);
    text-shadow: 4px 10px 34px rgba(255, 255, 255, 0.2);
}
33.33333% {
    clip: rect(20px, 9999px, 22px, 0);
    text-shadow: 7px 8px 17px rgba(255, 255, 255, 0.2);
}
40% {
    clip: rect(45px, 9999px, 39px, 0);
    text-shadow: 0px -1px 23px rgba(255, 255, 255, 0.2);
}
46.66667% {
    clip: rect(75px, 9999px, 46px, 0);
    text-shadow: 3px 9px 18px rgba(255, 255, 255, 0.2);
}
53.33333% {
    clip: rect(81px, 9999px, 64px, 0);
    text-shadow: -8px 6px 31px rgba(255, 255, 255, 0.2);
}
60% {
    clip: rect(61px, 9999px, 94px, 0);
    text-shadow: 10px 10px 6px rgba(255, 255, 255, 0.2);
}
66.66667% {
    clip: rect(71px, 9999px, 85px, 0);
    text-shadow: 10px -9px 25px rgba(255, 255, 255, 0.2);
}
73.33333% {
    clip: rect(50px, 9999px, 10px, 0);
    text-shadow: 5px 8px 31px rgba(255, 255, 255, 0.2);
}
80% {
    clip: rect(91px, 9999px, 44px, 0);
    text-shadow: -6px 6px 8px rgba(255, 255, 255, 0.2);
}
86.66667% {
    clip: rect(81px, 9999px, 2px, 0);
    text-shadow: 5px 3px 6px rgba(255, 255, 255, 0.2);
}
93.33333% {
    clip: rect(31px, 9999px, 88px, 0);
    text-shadow: -8px -1px 27px rgba(255, 255, 255, 0.2);
}
100% {
    clip: rect(79px, 9999px, 96px, 0);
    text-shadow: 10px -1px 11px rgba(255, 255, 255, 0.2);
}
}

@keyframes noise-anim-2 {
0% {
    clip: rect(42px, 9999px, 12px, 0);
    text-shadow: -6px 2px 29px rgba(191, 195, 164, 0.2);
}
20% {
    clip: rect(20px, 9999px, 44px, 0);
    text-shadow: -8px -4px 11px rgba(241, 253, 48, 0.2);
}
40% {
    clip: rect(39px, 9999px, 35px, 0);
    text-shadow: 2px 4px 20px rgba(182, 89, 42, 0.2);
}
60% {
    clip: rect(23px, 9999px, 2px, 0);
    text-shadow: 10px 7px 8px rgba(186, 62, 132, 0.2);
}
80% {
    clip: rect(42px, 9999px, 33px, 0);
    text-shadow: 4px 2px 4px rgba(191, 182, 148, 0.2);
}
100% {
    clip: rect(18px, 9999px, 20px, 0);
    text-shadow: 0px -2px 18px rgba(27, 63, 193, 0.2);
}
}
