@media screen and (max-width: 754px) {
.xr_mvp_2 {display: block;}
.xr_mvp_1 {display: none;}
.xr_pbd {margin-left: -195px;}
#xr_xr {width: 390px; height: 3410px}
}
@media screen and (min-width: 755px) {
.xr_mvp_2 {display: none;}
.xr_mvp_1 {display: block;}
.xr_pbd {margin-left: -560px;}
#xr_xr {width: 1120px; height: 3909px}
}
